@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@600&display=swap');
*{font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    height: 73px;
    max-height: 73px;
    left: 0px;
    top: 0px;



    background: #FFFFFF;



    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

    border-color: black;
    border-width: 50px;
}

.contenerdor_icono{
    display: flex;
    flex-direction: row;
    align-items: center;


}

.head_icono{

    height: 32px;
    width: 32px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(180deg, #FFFFFF 0%, #D0D5DD 100%), #FFFFFF;
    border: 0.2px solid #D0D5DD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 112px;
    margin-top: 20px;


}



.icono_circulo{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;

background: linear-gradient(26.57deg, #53389E 8.33%, #6941C6 91.67%);


box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
border-radius: 100%;

}

.title{

   flex-direction: row;
    display: flex;
    align-items: center;
 padding-left: 150px;

}





.nav_main > ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;


    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #344054;

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-top: 16px;
    margin-bottom: 17px;
    margin-right: 0px;

}


.nav_main > ul li{

    list-style-type: none;
    margin-left: 3%;
    text-decoration: none;

}

.nav_main > ul li a{

    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    color: black;


    background: #FFFFFF;
    border-radius: 6px;


    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
    margin-right: 20px;


    }

.nav_main > ul li a:hover{
    text-decoration: none;
    display: flex;
    color: #6941C6;
    flex-direction: row;
    align-items: center;
    /* padding: 8px 12px; */


    background: #F9F5FF;
    border-radius: 6px;



    flex: none;
    order: 1;
    flex-grow: 0;


}

.contenerdor_Info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 100px;
    margin-top: 16px;
}

.head_upgrade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;

    background: #FFFFFF;


    border: 1px solid #D0D5DD;
    box-sizing: border-box;


    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;


    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px px;


    margin-top: 5px;
    margin-bottom: 25px;
    max-width: 150px;
    font-size: 14px;


}

.up_rasho{
    position: relative;
    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 8.33%;
    margin-right: 15px;

}

 .up_letras{
    position: static;
    width: 90px;
    height: 20px;
    left: 44px;
    top: 10px;
    margin-left: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

    font-size: 14px;
    line-height: 20px;
}



.settinsBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 45px;

    position: static;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;

    margin-bottom: 50%;

    background: #FFFFFF;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
    margin-left: 16px;
}

.alertBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    padding-bottom: 45px;

    position: static;
    width: 40px;
    height: 40px;
    left: 44px;
    top: 0px;


    background: #FFFFFF;
    border-radius: 6px;


    flex: none;

    flex-grow: 0;
    margin: 0px 4px;


}

.avatarBox{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center ;
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 20px;

}

.avatar{

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;

    position: static;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;

}




/* .fondo {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 73px;
    left: 0px;
    top: 0px;

    background-color: #FCFCFD;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
} */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;

    left: 0px;
    top: 0px;

    background-color: #FCFCFD;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.Section_welcom{
    display: flex;
    flex-direction: row;
    align-items: center;



}

.welcon_letras{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 112px;
    width: 1110px;

}

.welcom{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;

    color: #101828;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;

    padding-top: 40px;
}

.detail{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #667085;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.btn_welcom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 30px;
}


.deposit{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;

    margin-right: 13px;

    background: #FFFFFF;


    border: 1px solid #D0D5DD;
    box-sizing: border-box;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;


}

.icon_dolar{

    left: 25%;
    right: 25%;
    top: 4.17%;
    bottom: 4.17%;

}

.letras_deposit{


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #344054;

    flex: none;

    flex-grow: 0;
    margin: 0px 8px;
}

.funds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;


    background: #7F56D9;

    border: 1px solid #7F56D9;
    box-sizing: border-box;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

}

.funds_letras{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;


    color: #FFFFFF;



    flex: none;

    flex-grow: 0;
    margin: 0px 8px;
}
.datetime{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;

    color: #667085;
}

.contenedor_date{


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 112px;
 
    color: #344054; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.meses{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 10px 16px; */

width: 102px;
height: 40px;
left: 0px;
top: 0px;


background: #FFFFFF;
border-radius: 1px;
border: 1px solid #D0D5DD;
box-sizing: border-box;
border-radius: 8px 0px 0px 8px;

/* Inside auto layout */

flex: none;

flex-grow: 0;
margin: 0px 0px;
}

.dias30{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 86px;
    height: 40px;
    left: 102px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #D0D5DD;

    flex: none;

    flex-grow: 0;
    margin: 0px 0px;
}

.dias7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;


    width: 76px;
    height: 40px;
    left: 189px;
    top: 0px;
    border: 1px solid #D0D5DD;

    background: #FFFFFF;
    border-radius: 0px;
}

.horas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 px 16px;

    width: 92px;
    height: 40px;
    left: 265px;
    top: 0px;

    background: #FFFFFF;

    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
}


.bnt_date{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 600px;
    margin-right: 30px;

}
.calendario{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;
/* width: 200px;
height: 40px; */


background: #FFFFFF;

border: 1px solid #D0D5DD;
box-sizing: border-box;

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

}

.icon_calendario{
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;
}

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;

    background: #FFFFFF;

    border: 1px solid #D0D5DD;
    box-sizing: border-box;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-left: 12px;
}